<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sovworks.eds.android">

    <application
        android:label="@string/eds"
        android:theme="@style/Theme.EDS"
        tools:replace="android:label">
    </application>
</manifest> 
