<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sovworks.eds.android">

    <supports-screens android:anyDensity="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name="com.sovworks.eds.android.EdsApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@drawable/ic_launcher_eds"
        android:label="@string/eds"
        android:theme="@style/Theme.EDS">
        <activity
            android:name=".filemanager.activities.video.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".filemanager.activities.zip.ZipFileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".filemanager.activities.rar.RarFileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".filemanager.activities.FileManagerActivity"
            android:exported="true"
            android:label="@string/eds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="resource/folder" />
                <data android:scheme="file" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter tools:ignore="AppIndexingApiError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.tc" />
                <data android:pathPattern=".*\\.eds" />
                <data android:pathPattern=".*\\.luks" />
                <data android:pathPattern=".*\\.vc" />
                <data android:pathPattern=".*\\.hc" />
                <data android:pathPattern=".*\\.dvf" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".locations.activities.LocationListActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".locations.activities.CreateLocationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".locations.activities.LocationSettingsActivity"
            android:label="@string/settings"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LocationShortcutWidgetConfigActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CancelTaskActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/eds">
            <intent-filter>
                <action android:name="com.sovworks.eds.android.ACTION_CANCEL_TASK" />
            </intent-filter>
        </activity>
        <activity
            android:name=".filemanager.activities.ImageViewerActivity"
            android:label="@string/image_viewer" />
        <activity
            android:name=".locations.activities.CloseLocationsActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".locations.activities.OpenLocationsActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.VersionHistory"
            android:label="@string/version_history" />
        <activity
            android:name=".settings.activities.ProgramSettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".settings.activities.OpeningOptionsActivity"
            android:label="@string/settings"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name=".service.FileOpsService"
            android:exported="true"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".service.LocationsService"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".widgets.LocationShortcutWidget"
            android:exported="true"
            android:label="@string/eds_shortcut">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sovworks.eds.android.BROADCAST_LOCATION_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.CloseAllContainersWidget"
            android:exported="true"
            android:label="@string/close_all_containers">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sovworks.eds.android.BROADCAST_LOCATION_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sovworks.eds.android.BROADCAST_ALL_CONTAINERS_CLOSED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/close_all_containers_widget_info" />
        </receiver>

        <provider
            android:name=".providers.MainContentProvider"
            android:authorities="com.sovworks.eds.android.providers.main.lite"
            android:enabled="true"
            android:exported="true">
            <grant-uri-permission android:path="selection" />
            <grant-uri-permission android:path="/" />
        </provider>
        <provider
            android:name=".providers.ContainersDocumentProvider"
            android:authorities="com.sovworks.eds.android.providers.documents.lite"
            android:enabled="@bool/atLeastKitKat"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <!--suppress AndroidElementNotAllowed -->
            <intent-filter>
                <!--suppress AndroidElementNotAllowed -->
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest> 
